body{ 
    background-color: #c0c0c0;
}
button{
    width: 180px;
    height: 50px;
    transition-duration:1s;
    background:rgb(127, 189, 219);
    color: black;
    font-weight: 700;
    border-radius: 40px;
    box-sizing: border-box;
    margin: 20px 0 10px;
    box-sizing: border-box;
    font-size: 16px;
}

button:hover{

    background-color: green;

}
h2{

    margin: 2em 2 0.5em 2;
	color: #343434;
	font-weight: 700;
	font-family: 'Ultra', sans-serif;
	font-size: 24px;
	line-height: 60px;
	text-transform: uppercase;
	text-shadow: 0px 0.1px rgba(65, 64, 64, 0.733), 0 2px #777;
    margin-right: auto;
    background-color: rgb(148, 212, 245);
    text-align :center;
}
h1{
    font-size: 20px;
    font-weight: 600;
	font-family: 'Hammersmith One', sans-serif;
	line-height: 20px;
    text-shadow: 0 -1px 0 rgba(200, 90, 40, 0.5);
    position: relative;

}
label{
    padding: 2px 12px 12px 0;
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    text-shadow: 0 -1px 0 rgba(200, 90, 40, 0.5);
    font-family: 'Hammersmith One', sans-serif;

}
 input{
    background-color: white;
    color: rgb(7, 5, 5);
    padding: 10px 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.tabs {
    padding-left: 65px;

}

